<div class="row">

  <div class="twelve columns collapsed">
    <h1>Check Out Some of My Works.</h1>
    <!-- portfolio-wrapper -->
    <div class="bgrid-quarters s-bgrid-thirds cf">
      <div class="columns portfolio-item" *ngFor="let job of items" >
        <div class="item-wrap" (click)="viewJob(job)">
          <a [title]="job['title']">
            <img alt="" [src]="job['images'][0]">
            <div class="overlay">
              <div class="portfolio-item-meta">
                <h5>{{job['title']}}</h5>
                <p>{{job['type']}}</p>
              </div>
            </div>
            <div class="link-icon"><i class="icon-plus"></i></div>
          </a>
        </div>
      </div> <!-- item end -->
    </div> <!-- portfolio-wrapper end -->
  </div> <!-- twelve columns end -->
</div>
