<ng-template>
<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <img class="scale-with-grid" src="assets/images/portfolio/modals/m-coffee.jpg" alt="" />
    <div class="description-box">
      <h4>Coffee Cup</h4>
      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
      <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
    </div>

    <div class="link-box">
      <a href="http://www.behance.net">Details</a>
      <a class="popup-modal-dismiss">Close</a>
    </div>

  </div><!-- modal-01 End -->
</div>
</ng-template>
