<div class="row banner">
  <div class="banner-text">
    <h1 class="responsive-headline">I'm Sean Matabire.</h1>
    <h3>I'm a Johannesburg based <span>Full stack software engineer</span>, <span>Electronic engineer</span>
        and <span>aspiring inventor</span>
        creating awesome and
        effective visual identities and software solutions  for companies of all sizes around the globe. Let's <a
        class="smoothscroll" href="#about">start scrolling</a>
        and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
    <hr />
    <ul class="social">
      <li><a href="https://www.facebook.com/sean.matabs" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/seanmatabs" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="www.linkedin.com/in/sean-matabire-a1197660" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://www.instagram.com/seanmatabs/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
</div>

<p class="scrolldown">
  <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
</p>
