
<div class="row">

  <div class="two columns header-col">

    <h1><span>Hire me.</span></h1>

  </div>

  <div class="seven columns">

    <h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Hire Me.</a></h2>
    <p>
      Looking for an awesome and reliable software engineer? Try
      <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>Me</span></a>.
    </p>

  </div>

  <div class="three columns action">

    <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT" class="button">Sign Up Now</a>

  </div>

</div>
