
<!-- Education
----------------------------------------------- -->
<div class="row education">
  <div class="three columns header-col">
    <h1><span>Education</span></h1>
  </div>
  <div class="nine columns main-col">
    <div class="row item" *ngFor="let school of education">
      <div class="twelve columns">

        <h3>{{school['institution']}}</h3>
        <p class="info">
          {{school['qualification']}}<span>&bull;</span>
          <em class="date">{{school['date']}}</em>
        </p>
        <p>
          {{school['description']}}
        </p>

      </div>
    </div> <!-- item end -->
  </div> <!-- main-col end -->
</div> <!-- End Education -->

<!-- Work
----------------------------------------------- -->
<div class="row work">

  <div class="three columns header-col">
    <h1><span>Work</span></h1>
  </div>

  <div class="nine columns main-col">

    <div class="row item" *ngFor="let job of workExperience">
      <div class="twelve columns">
        <h3>{{job['company']}}</h3>
        <p class="info">{{job['title']}} <span>&bull;</span>
          <em class="date">{{job['start']}} - {{job['current'] ? 'Present' : job['end']}}</em>
        </p>
        <p>
          {{job['description']}}
        </p>
      </div>
    </div> <!-- item end -->

  </div> <!-- main-col end -->

</div> <!-- End Work -->

<!-- Skills
----------------------------------------------- -->
<div class="row skill">
  <div class="nine columns header-col">
    <h1><span>Technologies Languages and Skills</span></h1>
  </div>
  <div class="six columns">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Skills</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="bars">
      <ul class="skills" *ngFor="let skill of skills">
        <li><span class="bar-expand {{skill['level']}}"></span><em>{{skill['name']}}</em></li>
      </ul>
    </div><!-- end skill-bars -->
      </ng-template>
    </ngb-panel>
    </ngb-accordion>
  </div> <!-- main-col end -->
  <div class="six columns">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Languages</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="bars">
      <ul class="skills" *ngFor="let language of languages">
        <li><span class="bar-expand {{language['level']}}"></span><em>{{language['name']}}</em></li>
      </ul>
    </div><!-- end skill-bars -->
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div> <!-- main-col end -->
  <div class="six columns">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Frameworks & Technologies</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="bars">
      <ul class="skills" *ngFor="let tech of technologies">
        <li><span class="bar-expand {{tech['level']}}"></span><em>{{tech['name']}}</em></li>
      </ul>
    </div><!-- end skill-bars -->
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div> <!-- main-col end -->
  <div class="six columns">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Databases</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="bars">
      <ul class="skills" *ngFor="let database of databases">
        <li><span class="bar-expand {{database['level']}}"></span><em>{{database['name']}}</em></li>
      </ul>
    </div><!-- end skill-bars -->
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div> <!-- main-col end -->
</div> <!-- End skills -->
